<h1>{{title}}</h1>
<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/part1" routerLinkActive="active">Part 1</a>
  <a routerLink="/part2" routerLinkActive="active">Part 2</a>
  <a routerLink="/part3" routerLinkActive="active">Part 3</a>
  <a routerLink="/part4" routerLinkActive="active">Part 4</a>
  <a routerLink="/part5" routerLinkActive="active">Part 5</a>
  <a routerLink="/part6" routerLinkActive="active">Part 6</a>
  <a routerLink="/part7" routerLinkActive="active">Part 7</a>
  <a routerLink="/part8" routerLinkActive="active">Part 8</a>
  <a routerLink="/part9a" routerLinkActive="active">Part 9a</a>
  <a routerLink="/part9b" routerLinkActive="active">Part 9b</a>
  <a routerLink="/part10a" routerLinkActive="active">Part 10a</a>
  <a routerLink="/part10b" routerLinkActive="active">Part 10b</a>
</nav>
<router-outlet></router-outlet>