<form [formGroup]="form">
    <div class="form-group">
        <label for="oldPass">Old Password</label>
        <input formControlName="oldPassword" id="oldPass" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
            <div *ngIf="oldPassword.errors.required">Old Password is required</div>
            <div *ngIf="oldPassword.errors.doesNotMatch">Old Password is not correct</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPass">New Password</label>
        <input formControlName="newPassword" id="newPass" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
            <div *ngIf="newPassword.errors.required">New Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPass">Confirm Password</label>
        <input formControlName="confirmPassword" id="confirmPass" type="text" class="form-control">
        <div class="alert alert-danger" 
            *ngIf="confirmPassword.touched && confirmPassword.invalid && confirmPassword.errors.required">
            Confirm Password is required
        </div>
    </div>
    <div class="alert alert-danger" *ngIf="confirmPassword.invalid && confirmPassword.errors.doesNotMatch">Passwords don't match</div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
